h2 {
  display: block;
  clear: both;
}
.feedback {
  padding: 20px;
  font-size: 20px;
  color: red;
}
.btnLoginByFB {
  background-color: #305891;
  padding: 10px;
  border-radius: 4px;
  line-height: normal;
  display: inline-block;
  appearance: none;
  color: #fff;
  text-decoration: none;
  margin-bottom: 40px;
}